.form {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.form .button-pixel {
    box-shadow: 3px 3px #F3BaBa;
}

.form-detail {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 600px;
    background-color: white;
    padding: 70px;
    border-radius: 30px;
    /*height: 80vh;*/
}

.form .form-group {
    display: flex;
    flex-direction: column;

    /*align-items: center;*/
    /*align-content: center;*/
    /*margin-bottom: 15px;*/
    /*gap: -10px;*/
    margin-top: -15px;
}
.form .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.form label {
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.9rem;
}

.form input,
.form button {
    flex: 1;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form input[type='text'],
.form input[type='password'],
.form input[type='email']{
    border-width: 0 0 1px;
    height: 45px;

}

.form input:focus, .form select:focus,
.form input:focus-visible, .form select:focus,
.form textarea:focus-visible {
    border-width: 0 0 1px;
    outline: 0;
    outline-offset: 0px;
}

.button-group {
    display: flex;
    flex: 1;
    gap: 30px;
}

.button-group input {
    flex: 7;
}

.button-group button {
    flex: 3;
    height: 45px;
    padding-top: 8px;
    font-size: 1rem;
}

.form .required label[for]:after {
    content: '*';
    color: #E68A8C;
    margin-left: 5px;
}

.form div.error {
    color: #E68A8C;
    font-size: 0.8em;
    height: 10px;
    padding: 0px;
    margin-left: 11vh;
    margin-top: 10px;
}

.form .hidden span {
    /*height: 10px;*/
    display: none;
}

.form .submit {
    margin-top: 25px;
    padding: 15px;
    box-shadow: 4px 4px #F3BABA;
}

.form .submit:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

.file-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.md-form {
    width: 550px;
}
.md-form .submit{
    margin-top: 0px;
    font-size: 1.5rem;
}
.md-form .input-group{
    gap: 40px;
}
.md-form label,
.md-form input{
    font-size: 1.3rem;
    width: 100px;
}

.md-form .error {
    margin-left: 15vh !important;
    font-size: 0.9em !important;
}

.image-wrapper {
    width:250px;
    height:250px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-content: center;
}


.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover;
    margin-left: 200px;
}

.detail-form input:disabled{
    background-color: white;
}

.submit-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.submit-group button {
    height: 70px;
}