{% extends 'layout/layout.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container form">
    <form id="login-form" class="form-detail pixelify-sans md-form">
        <div class="form-group">
            <div class="input-group required">
                <label for="id">ID</label>
                <input type="text" id="id" name="id" required maxlength="20">
            </div>
            <div class="error hidden" id="id-error"><span></span></div>
        </div>

        <div class="form-group">
            <div class="input-group required">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="error hidden" id="password-error"><span></span></div>
            <div class="error hidden" id="login-error"><span></span></div>
        </div>

        <div class="buttons">
            <button type="button" class="button-pixel pixelify-sans submit" id="submit-btn">
                login
            </button>
            <div class="submit-group">
                <button type="button" class="button-pixel pixelify-sans submit" id="submit-btn" onclick="location.href='/auth/find-id'">
                    f/ id
                </button>
                <button type="button" class="button-pixel pixelify-sans submit" id="submit-btn" onclick="location.href='/auth/find-pw'">
                    f/ password
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script>
$(() => {
    authWorker.init();
})
</script>
{% endblock %}