{% extends 'layout/layout.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='css/forum.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container forum-detail suse">
    <div class="forum-detail-wrapper">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card create-form">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 p-0">
                                    <input id="name" type="text" placeholder="Please enter the name" />
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card create-form">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters detail-title">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control" id="category-select"></select>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 p-0">
                                    <input id="title" type="text" placeholder="Please enter the title" />
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card create-form">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters detail-title">
                                    <textarea id="content" rows="15" placeholder="Please enter the content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-form-buttons">
            <button class="button-pixel pixelify-sans" id="write-btn" data-type="CREATE, UPDATE">
                write
            </button>
            <button class="button-pixel pixelify-sans" id="modify-btn" data-type="READ">
                modify
            </button>
            <button class="button-pixel pixelify-sans" id="delete-btn" data-type="READ">
                delete
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/forum.js') }}"></script>
<script src="{{ url_for('static', filename='js/api/forum.js') }}"></script>
<script>
$(() => {
    const item = {{ item|tojson }};
    const docType = "{{ doc_type.value }}";
    console.log('item', item)
    forumDetailWorker.initForumDetail(item, docType);
})
</script>
{% endblock %}