<div class="menu-header">
    {% if show_back_btn is defined %}
        <button onclick="history.go(-1);"><ion-icon name="arrow-back" class="back-btn"></ion-icon></button>
    {% endif %}
    <button style="float: right;"><ion-icon name="menu" class="menu-open-btn "></ion-icon></button>
</div>
<div class="sidebar">
    <div class="menu-close">
        <button><ion-icon name="close" class="menu-close-btn"></ion-icon></button>
    </div>
    <ul class="menu-ul pixelify-sans">
        <li><a href="/pokemons">Wiki</a></li>
        <li><a href="/forums">Forum</a></li>
    </ul>
    <div class="menu-user">
        {% if user %}
            <button><ion-icon name="person" id="user-btn"></ion-icon></button>
            <button><ion-icon name="log-out" id="logout-btn"></ion-icon></button>
        {% else %}
            <button><ion-icon name="log-in" id="login-btn"></ion-icon></button>
            <button><ion-icon name="add" id="add-btn"></ion-icon></button>
        {% endif %}
    </div>
</div>
<div class="overlay"></div>
<script src="{{ url_for('static', filename='js/api/auth.js') }}"></script>
<script>

const toggleMenu = () => {
    const isOpen = $(".overlay").css("display") !== 'none';
    $(".overlay").toggle()
    $(".sidebar").animate({
        "margin-right": "0",
        "right": isOpen ? "-500" : "0"
    }, 500);
}

$(() => {
    $(".menu-close-btn, .menu-open-btn").off('click').on('click', () => {
        console.log('close')
        toggleMenu()
    });
    const isShowBackBtn = '{{ show_back_btn is defined }}' === 'True'
    isShowBackBtn ? $('.show_back_btn').show() : $('.show_back_btn').hide();
    $('.menu-header').css('justify-content', isShowBackBtn ? 'space-between' : 'end');


    $("#login-btn").off('click').on('click', () => {
        toggleMenu();
        location.href = '/auth/login';
    });

    $("#logout-btn").off('click').on('click', async () => {
        const res = await logoutUser()
        console.log('res', res)
        if(res === 200) {
          location.href = '/auth/login'
        }
    });

    $("#user-btn").off('click').on('click', async () => {
        toggleMenu();
        // 내 정보 수정으로 이동
        location.href = '/users/my-info'
    });

    $("#add-btn").off('click').on('click', async () => {
        toggleMenu();
        // 내 정보 수정으로 이동
        location.href = '/users/signup'
    });
});

</script>