{% extends 'layout/layout.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container form">
    <form id="password-form" class="form-detail pixelify-sans md-form password-form">
        <div class="form-group">
            <div class="input-group required">
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="error" id="password-error" style="display: none;">
                <span>Worng password.</span>
            </div>
        </div>
        <button type="button" class="button-pixel pixelify-sans submit" id="submit-btn">
            enter
        </button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script>
$(() => {
    const id = {{ id|tojson }};
    $('#submit-btn').on('click', async (e) => {
        $('.error').hide();
        try {
        const response = await $.ajax({
            url: `/forums/check-password/${id}`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ password: $('#password').val() }),
        });
        console.log('response', response)
        if (response !== 200) {
            $('.error').show();
            return;
        }
        location.href = `/forums/${id}`;
    } catch (error) {
        console.error('Password is incorrect', error);
        $('.error').show();
    }
    });

})
</script>
{% endblock %}